<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bagus.idealweight">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".JoggingTimer"></activity>
        <activity android:name=".BurpeesTimer" />
        <activity android:name=".MountainClimbersTimer" />
        <activity android:name=".Rest" />
        <activity android:name=".JumpingJacksTimerEasy" />
        <activity android:name=".PunchTimerEasy" />
        <activity android:name=".ExerciseInput" />
        <activity android:name=".EditProfilActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".HephaestusTimer" />
        <activity android:name=".Phoenix" />
        <activity android:name=".Medusa" />
        <activity android:name=".Pegasus" />
        <activity android:name=".Minotaur" />
        <activity android:name=".inputRules" />
        <activity android:name=".Centaur" />
        <activity android:name=".Achilles" />
        <activity android:name=".Gryphon" />
        <activity android:name=".Hephaestus" />
        <activity android:name=".HardWorkout" />
        <activity android:name=".MediumWorkout" />
        <activity android:name=".EasyWorkout" />
        <activity android:name=".TrackProgress" />
        <activity android:name=".MainMenu" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".HardLevel" />
        <activity android:name=".MediumLevel" />
        <activity android:name=".EasyLevel" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".Perseus" />
        <activity android:name=".Apollo" />
        <activity android:name=".Poseidon" />
        <activity android:name=".Zeus" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SlideScreen" />
        <activity android:name=".HomePage" />
        <activity
            android:name=".ExercisePlans"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_welcome" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>